  .jumbotron{
    background: rgb(173, 114, 4);
    padding: 20px;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
   


  }

  .container{
    width: 1000px;
    background: rgb(241, 223, 190);
    border: 1px solid rgb(202, 2bor01, 201);
    border-color: black;
    border-width: 2px;
    padding: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    color: green;
    
}

#randNum_id{
  width: 300px;
  background: rgb(13, 163, 13);
  height: 100px;
  margin-left: 300px;
  font-size: 30px;
  color: black;
  padding-top: 35px;
  padding-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  
}


#winsLosses{
  width: 250px;
  background: palegreen;
  height: 100px;
  margin-left: 200px;
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5px;
}

#crystal1_id{
  border: 1px solid rgb(202, 2bor01, 201);
  border-color: black;
  margin-left:50px;
  
 
}

#crystals{
  
  margin-top: 20px;
  border-width: 40px;
}

#totalScore{
  font-size: 30px;
  color: white;
  margin-left: 400px;
  margin-right: 500px;
  margin-bottom: 40px;
  background: teal;
  height: 65px;
  padding-left: 20px;
  padding-top: 10px;
  margin-top: 20px;

  
}

#wholePage{
  background: rgb(180, 196, 211);
}

